html {
  font-family: serif;
}

body * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e1dbdb;
  align-items: center;
  flex-wrap: wrap;
  /* при сжатии экрана элементы не будут слипаться и между ними будет всегда это расстояние */
  gap: 30px;
  padding: 15px 0;
}

.nav-list {
  display: flex;
  gap: 20px; /* или можно у .nav-item выставить margin-right:20px */
}

.nav-link,
.contact-link {
  color: black;
  text-decoration: none;
}

/* flexbox (однострочные и многострочные контейнеры с wrap - усовершенствованная блочная модель: свойства блочной модели можно применять в гибком макете */
