html {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--primary);
}

body {
  min-width: 375px; /* для обратного скейлинга доходя до этого последнего самого низкого брейкпоинта */
  background-color: var(--bg-color);
  min-height: 200vh;
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto; /* сокращение для margin-left и margin-right */
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--accent);
  outline-offset: 2px;
}

/* динамическая ширина контейнера по формуле: 
выбирает из двух наименьшую ширину всегда; 100% — общее обозначение любого экрана (вьюпорта) какого-л устройства ;  30px- левый и правый паддинги (левый-15, правый- тоже 15).
Можно говорить о 1270, так как паддинги пока что не вычитаем(пока не понадобится).

1. width > 1240 (если без вычета паддингов, то width>1270)
Например, 1920 - 30 = 1890 получается гораздо больше, чем 1240. Функция выбирает 1240px. Контейнер больше не увеличивается в шир

2. width = 1240 + отступы (если без вычета паддингов, то width=1270)
Если из 1270px вычесть оба паддинга (30px), останется ровно 1240px. Оба значения в скобках равны. 1240 и 1270(минус 30). Контейнер так и остается 1240px.

3. width < 1240 (если без вычета паддингов, то width<1270)
Например, на телефоне шириной 390px. 390 - 30 = 360. 360<1240. (минимальное -360 и оно будет выбрано).
 Контейнер начинает сжиматься, чтобы не вылезти за пределы экрана, и остаются пустые поля по 15 пикселей с каждой стороны.
*/
