/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.services {
  max-width: 744px;
}

.services__title,
.review__title {
  font-size: 36px;
}

.about__desc--accent {
  font-weight: 500;
  font-size: 18px;
}

.about__decor,
.review__decor {
  position: relative;
  margin-bottom: 35px;
}

.about__decor::after,
.review__decor::after {
  content: "";
  position: absolute;
  z-index: -10;
  background: url("../assets/media/images/icons/decor-icon.svg") no-repeat;
  width: 528px;
  height: 48px;
}

.about__decor--picture::after {
  top: 15%;
  left: -25%;
}

.review__decor--video::after {
  right: -25%;
  bottom: 20%;
}

.about__image,
.about__desc {
  margin-bottom: 60px;
}

.services__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 80px;
}

.services__list-item {
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.5;
}

.services__list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #3596ed;
  border-radius: 50%;
}

.review__video-wrap {
  position: relative;
  width: 100%;
}

.review__video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #3596ed;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.review__video-btn:hover {
  background-color: #38a2ff;
}

.review__video-btn:not(:disabled):active {
  background-color: #2d82cd;
}

.review__video-btn svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  margin-left: 4px;
}

.review__vid {
  width: 100%;
  margin-bottom: 40px;
}
