/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.footer {
  padding: 60px 0 40px;
  margin-top: auto;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(73, 169, 255, 0.2)),
    to(rgba(252, 124, 217, 0.2))
  );
  background-image: -o-linear-gradient(
    left,
    rgba(73, 169, 255, 0.2) 0%,
    rgba(252, 124, 217, 0.2) 100%
  );
  background-image: linear-gradient(
    90deg,
    rgba(73, 169, 255, 0.2) 0%,
    rgba(252, 124, 217, 0.2) 100%
  );
  text-align: center;
}

.footer__top {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #d3cbd9;
}

.footer__logo-link {
  display: inline-block;
  margin-bottom: 40px;
}

.footer__nav .footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__nav .footer__nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.footer__nav .footer__nav-link:hover {
  color: #3596ed;
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #858e8a;
}

@media screen and (max-width: 760px) {
  .footer__nav .footer__nav-list {
    gap: 25px;
  }
}

@media (width <= 620px) {
  .footer__nav .footer__nav-list {
    flex-direction: column;
  }
  .footer {
    padding-top: 35px;
  }
}
