@font-face {
  font-family: "Ubuntu";
  src:
    local("Ubuntu"),
    url("../assets/fonts/UbuntuLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src:
    local("Ubuntu"),
    url("../assets/fonts/UbuntuRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src:
    local("Ubuntu"),
    url("../assets/fonts/UbuntuMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src:
    local("Oswald"),
    url("../assets/fonts/OswaldMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src:
    local("Oswald"),
    url("../assets/fonts/OswaldSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Список ресурсов:
fonts.google.com/
webfonts.pro
fontsquirrel.com
anyconv.com
everythingfonts.com
transfonter.org
bestfonts.pro 

whatfont - расширение для браузера
*/

/* ttf,eot,svg - устарели; otf-неоптимизирован для веба; woff - устаревает */
