.menu__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu__link {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.3;
  color: var(--primary);
  transition: color var(--transition-time);
}

/* проверка, есть ли у пользователя мышь; у десктопа есть этот функционал (или сенсор); у других устройств поменьше - нету, значит этот код не выполнится; т.е для тех, у кого функционал мыши, ховер срабатывает, а у друх - нет, а значит затяжной эффект ховера не будет заметен (защита от залипающего ховера) */
@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--accent);
  }
}
