/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--primary);
  scroll-behavior: smooth;
  scroll-padding-top: 98px;
  scrollbar-gutter: stable;
}

body {
  min-width: 375px;
  background-color: var(--bg-color);
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
}

a:focus-visible,
button:focus-visible,
input:focus {
  outline: 1px solid var(--accent);
  outline-offset: 2px;
}

.text-regular,
.text-light {
  line-height: 1.4;
  font-size: 16px;
  color: var(--primary);
}

.text-regular {
  font-weight: 400;
}

.text-light {
  font-weight: 300;
}

.title-xs,
.title-sm,
.title-md {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--primary);
}

/* мин вьюпорт - 320, макс - 992 */
.title-md {
  font-size: clamp(32px, 1.167rem + 4.17vw, 60px);
}

/* мин вьюпорт - 320, макс - 768 */
.title-sm {
  font-size: clamp(24px, 1.143rem + 1.79vw, 32px);
}

.title-xs {
  font-size: 18px;
}

@media (width > 576px) {
  .section {
    padding-bottom: 140px;
  }

  .section-title {
    margin-bottom: 40px;
  }
}

@media (width <= 576px) {
  .section {
    padding-bottom: 80px;
  }

  .section-title {
    margin-bottom: 30px;
  }
}
