* {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  margin: 0;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.header,
.footer {
  grid-column: span 12;
}

.header {
  background-color: #f00;
  min-height: 100px;
}

.aside {
  background-color: #e2e20d;
  grid-column: span 2;
}

.main {
  background-color: #31bb0a;
  padding-top: 30px;
  padding-bottom: 30px;
  grid-column: span 10;
}

.article {
  display: grid;
  place-items: center;
  background-color: #de6e05;
  min-height: 200px;
}

.footer {
  background-color: #0b2fe2;
  min-height: 250px;
}

@media (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .aside {
    grid-column: span 3;
  }
  .main {
    grid-column: span 9;
  }
}

@media (max-width: 768px) {
  .aside {
    display: none;
  }
  .main {
    grid-column: span 12;
  }
}
