html {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--primary);
}

body {
  min-width: 375px;
  background-color: var(--bg-color);
  min-height: 200vh;
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--accent);
  outline-offset: 2px;
}
