.hero {
  position: relative;
}

@media (width > 576px) {
  .hero {
    padding-bottom: 94px;
  }
}

@media (width <= 576px) {
  .hero {
    padding-bottom: 80px;
  }
}

.hero__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  /* min-width 375px, max-width 922px */
  min-height: clamp(433px, 13.823rem + 56.49vw, 742px);
}

@media (width > 768px) {
  .hero__container {
    padding-top: 60px;
  }
}

@media (width <= 768px) and (width > 576px) {
  .hero__container {
    padding-top: 20px;
  }
}

.hero__header {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

@media screen and (width> 992px) {
  .hero__header {
    align-items: center;
  }
}

@media screen and (width <= 992px) {
  .hero__header {
    flex-direction: column;
  }

  .hero__title {
    align-self: center;
  }

  .hero__benefits-list {
    align-self: flex-start;
  }
}

.hero__benefits-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media screen and (width> 992px) {
  .hero__benefits-list {
    position: absolute;
    left: 0;
  }
}

.hero__benefits-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary);
}

/* вьюпорт:  самый широкий экран-1400px и самый минимум -320px  для gap и font-size*/
.hero__title {
  display: flex;
  gap: clamp(8px, 2.5vw, 35px);
  font-weight: 600;
  font-size: clamp(48px, 1.519rem + 7.41vw, 128px);
  text-transform: uppercase;
  color: var(--primary);
}

/* Свойство -webkit-text-stroke описывает обводку или контур вокруг букв текста. В него входят также два свойства:
-webkit-text-stroke-width: толщина линии и -webkit-text-stroke-color: цвет линии; пока что для него нужен префикс*/
.hero__title-accent {
  -webkit-text-stroke: 3px var(--accent);
  color: transparent;
}

@media (width > 768px) {
  .hero__title-accent {
    -webkit-text-stroke: 3px var(--accent);
  }
}

@media (width <= 768px) {
  .hero__title-accent {
    -webkit-text-stroke: 1.5px var(--accent);
  }
}

.hero__img {
  position: absolute;
  top: 88px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.hero__footer {
  padding-bottom: 20px;
  text-align: end;
}

.hero__footer-link {
  display: inline-flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  gap: 15px;
  color: var(--primary);
  transition: var(--transition-time);
}

@media (any-hover: hover) {
  .hero__footer-link:hover {
    color: var(--accent);
  }
}

.hero__footer-icon {
  stroke: currentColor;
}
