/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header__burger {
  width: 20px;
  height: 25px;
  position: relative;
  border: 0;
  cursor: pointer;
  z-index: 100;
}

@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__burger {
    display: block;
  }

  .header__burger span,
  .header__burger span::before,
  .header__burger span::after {
    position: absolute;
    right: 0;
    height: 2px;
    background-color: var(--accent);
    -webkit-transition: var(--transition-time);
    -o-transition: var(--transition-time);
    transition: var(--transition-time);
  }

  .header__burger span {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 12px;
  }

  .header__burger span::before {
    content: "";
    top: -6px;
    width: 20px;
  }

  .header__burger span::after {
    content: "";
    top: 6px;
    width: 16px;
  }

  .header__burger--open span {
    background-color: transparent;
  }

  .header__burger--open span::before,
  .header__burger--open span::after {
    top: 0;
    background-color: var(--primary);
    width: 20px;
    height: 1px;
  }
  .header__burger--open span::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .header__burger--open span::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .menu.open {
    right: 0;
  }
}
