/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header {
  position: fixed;
  inset: 0 0 auto 0;
  padding-block: 32px;
  background-color: var(--bg-color);
  -webkit-transition: -webkit-box-shadow var(--transition-time);
  transition: -webkit-box-shadow var(--transition-time);
  -o-transition: box-shadow var(--transition-time);
  transition: box-shadow var(--transition-time);
  transition:
    box-shadow var(--transition-time),
    -webkit-box-shadow var(--transition-time);
  z-index: 1;
}

.header--fixed {
  -webkit-box-shadow: 0 0 20px var(--shadow);
  box-shadow: 0 0 20px var(--shadow);
  overflow-y: hidden;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  margin-right: clamp(25px, -12.874rem + 23.28vw, 120px);
}

@media screen and (min-width: 768px) {
  .header__menu {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

@media screen and (max-width: 768px) {
  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    min-width: 280px;
    height: 100vh;
    background: var(--bg-color);
    z-index: 10;
    -webkit-box-shadow: -2px 0 20px var(--shadow);
    box-shadow: -2px 0 20px var(--shadow);
    -webkit-transition: right var(--transition-time);
    -o-transition: right var(--transition-time);
    transition: right var(--transition-time);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .header__menu > .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: 30px;
    margin-top: 100px;
    margin-right: 20px;
    text-align: right;
  }
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .header__actions {
    gap: 60px;
  }
}

@media screen and (max-width: 992px) {
  .header__actions {
    gap: 30px;
  }
}

.header__order {
  position: relative;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.3;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--accent);
  color: var(--accent);
}

@media (any-hover: hover) {
  .header__order:hover::before {
    opacity: 1;
    visibility: visible;
  }
}

.header__order::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 85%;
  min-height: 11px;
  -webkit-filter: blur(30px);
  filter: blur(30px);
  background-color: var(--accent);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition:
    opacity var(--transition-time),
    visibility var(--transition-time);
  -o-transition:
    opacity var(--transition-time),
    visibility var(--transition-time);
  transition:
    opacity var(--transition-time),
    visibility var(--transition-time);
}

.header__user-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .header__user-actions {
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header__user-actions {
    gap: 30px;
  }
}

.header__search-btn,
.header__cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--primary);
  -webkit-transition: color var(--transition-time);
  -o-transition: color var(--transition-time);
  transition: color var(--transition-time);
}

@media (any-hover: hover) {
  .header__search-btn:hover,
  .header__cart-btn:hover {
    color: var(--accent);
  }
}

.header__actions-icon {
  stroke: currentColor;
}
